<style>
    .filtros {
        display: inline-block;
    }

    fieldset {
        width: 449.75px;
        display: inline-block;
    }
</style>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>O Hotel</h1>
                <h2>Dashboard Consumo & Hospedagem</h2>
            </hgroup>
            <p>
                Felipe Gonçalves, Felipe Monobe, João Ribeiro, Letticia Nicoli, Paulo Lopes
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">

        <h3>Filtre:</h3>

        <select id="ddlAgencia"><option value="0">- AGENCIA -</option></select>
        <select id="ddlAno"><option value="0">- ANO -</option></select>

        &nbsp;&nbsp;<button id="btnAtt">Atualizar</button><br />

        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div><br /><br />

        <select id="ddlClientes"><option value="0">- PROFISSÃO -</option></select>
        <select id="ddlTrimestres"><option value="0">- TRIMESTRE -</option></select>

        &nbsp;&nbsp;<button id="btnAtt2">Atualizar</button>

        <div id="container2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    </section>
</div>

<script type="text/javascript" src="~/Scripts/highcharts.js"></script>
<script type="text/javascript" src="~/Scripts/exporting.js"></script>
<script type="text/javascript" src="~/Scripts/BasicBar.js"></script>
<script type="text/javascript" src="~/Scripts/BasicBar2.js"></script>
<script type="text/javascript" src="~/Scripts/SandSignika.js"></script>